.d1 div {
  width: 300px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
}
.d1 div:hover {
  width: 300px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  /* transform: rotate(20deg); */
  /* or */
  rotate: 20deg;
  transition-duration: 5s;
}

.d2 div {
  width: 300px;
  height: 100px;
  background-color: red;
  border: 1px solid black;
}

.d2 div:hover {
  width: 300px;
  height: 100px;
  background-color: red;
  border: 1px solid black;
  transform: rotateX(150deg);
  transition-duration: 5s;
}


.d3 div {
  width: 300px;
  height: 100px;
  background-color: blue;
  border: 1px solid black;
}

.d3 div:hover {
  width: 300px;
  height: 100px;
  background-color: blue;
  border: 1px solid black;
  transform: rotateY(150deg);
  transition-duration: 5s;
}