.flex-container1 {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
}

.flex-container1 > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container2 {
  display: flex;
  flex-direction: row-reverse;
  background-color: DodgerBlue;
}

.flex-container2 > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container3 {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
}

.flex-container3 > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container4 {
  display: flex;
  flex-direction: column-reverse;
  background-color: DodgerBlue;
}

.flex-container4 > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}