@font-face {
  font-family: myFirstFont;
  src: url(Sansation_Light.ttf);
}

@font-face {
  font-family: myFirstFont;
  src: url(Sansation_Bold.ttf);
  font-weight: bold;
}

* {
  font-family: myFirstFont;
}
