

/* body {
  background-image: url("fg.png");
  background-size: contain;
  backgroud-size: cover;
} */


body {
  background-color: pink;
}
.box1 {
  width: 50vw;
  height: 100vh;
  border: 1px solid black;
  background-image: url("fg.png");
  /* background-repeat: no-repeat; */
  /* default size of image taken */
  /* background-size: auto;     */
  /* background-size: 600px 600px; */
  /* background-size: contain; */
  /* background-size: 30%; */
}