.d1 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.d1 .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.d1 .tooltip:hover .tooltiptext {
  visibility: visible;
}

.d2 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.d2 .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  /* for right tooltip */
  /* left: 105%; */
  /* for left tooltip */
  right: 105%;
}

.d2 .tooltip:hover .tooltiptext {
  visibility: visible;
}

.d3 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.d3 .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.d3 .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
